[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-black = "*"

[packages]
pymongo = "*"
essential-generators = "*"
pytest-benchmark = "*"

[requires]
python_version = "3.8"
